<div class="container">
<div class="row text-center content-justify-center">
<div class="col-12">
<h5>Redirect to pay on CoinGate website</h5>
<%=button_to "Buy", @url, method: :get, class: "btn btn-danger"%>
</div>
</div>
</div>
