

<div class="container">
<div class="row">
<div class="col-12 text-center">
<h1>Uinterpay  - pay online all over the wourld</h1>
</div>
</div>

<div class="row">

<div class="col">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Uinterpay</h5>
    <h2>Get payments from all countries</h2> 
    <h6 class="card-subtitle mb-2 text-muted">currencies</h6>
    <p class="card-text">
Currently we support accepting cryptocurrencies (income,crypto-merchant, crypto-aquiring,outcome)
and workin on fiat (any global and local currencies and e-wallets) merchant.</p>
    <a href="#currencies" class="card-link">Card link</a>
  </div>
</div>

</div>

<div class="col">

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Uinterpay</h5>
    <h2>Transfer personal money borderless</h2> 
    <h6 class="card-subtitle mb-2 text-muted">exchanges and countries</h6>
    <p class="card-text">Today you can buy crypto in local or global 
currency on centralized or decentralizes exchanges and pay for services with cryptocurrency
We accepting income/outcome from crypto to crypto on North and South America, Europe, Russia, Iran, North Korea, Asia, Australia and Pacific area, Africa and even Antarctica
fiat to crypto or fiat to fiat (transfer to local banks, e-wallets) in progress, today you can use exchanges (online, offline) and e-wallets local and global</p>
    <a href="#exchengesandcountries" class="card-link">Card link</a>
  </div>
</div>

</div>

</div>
</div>